<table class="content-table">
    <thead>
        <tr>
            <th> Имя </th>
            <th> Фамилия </th>
            <th> Возраст </th>
            <th> Пол </th>
            <th> Пост </th>
            <th> Отдел </th>
            <th> Язык </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees">
            <td>{{ employee.name }}</td>
            <td>{{ employee.surname }}</td>
            <td>{{ employee.age }}</td>
            <td>{{ employee.gender }}</td>
            <td>
                <span>{{ employee.post === "Лид" ? "&#9733; " : employee.post === "Синьор" ? "&#9734; " : "" }}</span>
                <span>{{ employee.post }}</span>
            </td>
            <td>{{ employee.department }}</td>
            <td>
                <span [ngStyle]="{ 'color': employee.language_color }"> &#11044; </span>
                <span>{{ employee.language }}</span>
            </td>
        </tr>
    </tbody>
</table>